version: '3.8'
services:
    nginx:
        image: 390613096869.dkr.ecr.us-east-2.amazonaws.com/online-school-nginx:latest
        ports:
            - '80:80'
        depends_on:
            - backend
            - database
    backend:
        image: 390613096869.dkr.ecr.us-east-2.amazonaws.com/online-school-backend:latest
        env_file:
            - .env
        depends_on:
            - database
        command: node /app/build/src/app.js

    database:
        image: postgres:14.1-alpine
        env_file:
            - .env
        volumes:
            - pg-data-prod:/var/lib/postgresql/data
volumes:
    pg-data-prod:
